@charset "UTF-8";* {
    box-sizing: border-box
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

.mod-form .weui_cell {
    padding: 11px 15px!important;
}

.mod-form .weui_cell:before {
    left: 0
}

.mod-form .weui_cells__title {
    margin-top: 10px;
    font-size: 16px;
    color: grey
}

.mod-form .weui_input {
    text-align: right
}

.mod-form .weui_select {
    color: #999
}

.mod-form .custom-select {
    padding-right: 0
}

.mod-form .custom-select .weui_cell_ft {
    padding-left: 10px
}

.mod-form .iconfont {
    font-size: 12px;
    color: #C8C8CD
}

.mod-form em {
    margin: 0 2px;
    color: #E94C5D
}

.mod-form .first-nobd:before {
    border-top-color: transparent
}

.mod-form .monthly-rent .weui_cell_ft {
    margin-left: 10px;
    color: inherit
}

.weui_btn_area {
    margin: 1.17647059em 15px 2em
}

.weui_input {
    font-size: 14px
}

.weui_btn {
    border: none;
    border-radius: 2px
}

.fl {
    float: left;
    line-height: 44px
}

.fr {
    float: right
}

.btn-submit {
    background: #FF6138
}

.h20 {
    height: 20px
}

.mod-header .inner {
    padding: 0 10px;
    background: #fff;
    border-bottom: 1px solid #F3F3F3
}

.mod-header .site-top {
    min-height: 44px
}

.mod-header .site-top h1 {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    width: 100%
}

.mod-header .site-top a {
    display: inline-block;
    font-size: 18px;
    color: grey;
    position: absolute
}

.mod-step .inner {
    text-align: center;
    border-bottom: 1px solid #F6F6F6;
    background: #fff;
    padding: 24px 10px 5px
}

.warm-hint {
    padding: 15px 10px
}

.warm-hint .inner {
    background: #FFF;
    border: 1px solid #EFEFF4;
    border-radius: 4px
}

.warm-hint p {
    color: #535353;
    padding: 8px;
    font-size: 12px;
    opacity: .87
}

.mod-upload-pic .item {
    padding-bottom: 15px;
    margin-top: 1px;
}

.mod-upload-pic h2 {
    padding-top: 15px;
    font-size: 14px;
    color:#fff;
}

.mod-upload-pic h2 em {
    margin: 0 2px;
    color: #E94C5D
}

.mod-upload-pic h3 {
    margin-bottom: 10px;
    color: #4A90E2;
    font-size: 12px
}

.upload {
    position: relative;
    margin-top: 30px
}

.upload .pic-area {
    height: 250px;
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.upload .pic-area .preview {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 250px
}

.upload .pic-area .preview img {
    vertical-align: middle;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto
}

.upload .pic-area .tip {
    position: absolute;
    top: 0;
    left: 0
}

.upload .pic-area .tip img {
    max-width: 120px
}

.upload .pic-area .fileView {
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.upload .pic-area .origin {
    display: block
}

.upload .pic-area input[type=file] {
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: -300px;
    left: -300px
}

.upload .remove {
    position: absolute;
    display: none;
    top: -30px;
    right: 0;
    height: 60px;
    width: 60px;
    background: url(../img/close.png) 50% no-repeat;
    background-size: 60% 60%
}

.upload .success .tip {
    display: none
}

.upload .success .fileView {
    display: -webkit-box!important;
    display: -moz-box!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important
}

.upload .success .origin {
    display: none
}

.login .inner {
    padding: 4px 20px
}

.login .weui_cells {
    margin-top: 16px;
    margin-bottom: 16px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-color: #e9e9e9
}

.login .weui_btn_area {
    margin: 40px 0 0
}

.login .btn-submit {
    border-radius: 2px;
    height: 40px;
    line-height: 40px
}

.login .weui_cell_bd {
    width: 100%
}

.login .loginCenter {
    margin-top: -20px;
    background: #FFAE32
}
