<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>我的租约</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <!--  新 Bootstrap 核心 CSS 文件  -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--  jQuery文件。务必在bootstrap.min.js 之前引入  -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!--  最新的 Bootstrap 核心 JavaScript 文件  -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--  私有css  -->
    <link rel="stylesheet" href="../../../public/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/idPhoto.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/upLoad.css">

</head>

<script type="text/javascript">
global = {
    basePath: "${basePath}/public/"
};
</script>

<body>
    <!-- 头部 -->
    <header class="top">
        <div class="back-button">
            <span class="back-icon"></span>
        </div>
        <div class="title">
            我的租约
        </div>
        <div class="history">
            <!-- <span class="history-icon"></span> -->
        </div>
    </header>
    <!--主体-->
    <section class="main">
    <h2 class="title">请上传您的身份证信息</h2>
        <div class="mod-upload-pic">
            <div class="inner">
                <form action="#" method="POST">
                    <div class="item">
                        <input type="hidden" name="member.memberPhotoInfo.positiveIdCard">
                        <input type="hidden" name="member.memberPhotoInfo.backIdCard">
                        <input type="hidden" name="member.memberPhotoInfo.takeIdCard">
                        <input type="hidden" name="member.memberInfo.position">
                        <input type="hidden" name="member.memberInfo.aparentmentName">
                        <input type="hidden" name="member.memberInfo.aparentmentAddress">
                        <h2 class="item-title">请上传身份证正面照</h2>
                        <div class="id-card-01" style="background: #393D41;"></div>
                        <h2 class="item-title">请上传身份证反面照</h2>
                        <div class="id-card-02" style="background: #393D41;"></div>
                        <h2 class="item-title">请上传自拍手持身份证照</h2>
                        <!-- <div class="id-card-03" style="background: #393D41;"></div> -->
                        <div class="id-card-03" style="background: #393D41;">
                            <div class="upload modal1">
                                <input type="hidden" class="uploadFileAddress">
                                <div class="pic-area">
                                    <div class="fileView preview">
                                        <img src="" alt="" />
                                    </div>
                                    <div class="origin preview">
                                        <img src="../../../public/img/handleCard@2x.png" alt="" />
                                    </div>
                                    <div class="tip preview">
                                        <img class="jiahao" src="../../../public/img/Oval 7.png" alt="">
                                    </div>
                                    <!-- <input type="file" accept="image/*" name="uploadFile"> -->
                                </div>
                                <div class="remove"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="datacontainer" style="width: 360px;"></div>
    </section>
    <!-- 底部 -->

    <footer class="bottom">
        <div class="clause">
            <div class="cluase-content">
                <span class="cluase-icon"></span>
                <div class="cluase-content-button">同意房租月付条款<span class="check-cluase">查看</span></div>
            </div>
            <p class="clause-tip">盈家房租月付，无额外利息，可能产生的任何金融动作都由盈家承担，轻松月付，让您安全放心</p>
        </div>
        <div class="confirm-button">
            <div class="confirm-contract-button">
                <a id="btnContractImgNext">在线签约</a>
            </div>
        </div>
    </footer>


    <!-- icon 对话框 -->
    <div class="weui_dialog_icon" style="display: none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="dialog_icon"></div>
            <div class="weui_dialog_hd"><strong class="weui_dialog_title"></strong></div>
            <div class="weui_dialog_bd prompt_text"></div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog primary">留在这</a>
                <a href="javascript:;" class="weui_btn_dialog btn-close">去付款</a>
            </div>
        </div>
    </div>

    <!-- prompt 对话框 -->
    <div class="weui_dialog_alert" style="display: none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">请同意房租月付条款</strong></div>
            <div class="weui_dialog_bd prompt_text"></div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>

    <!-- 手持身份证提示 -->
    <div class="take_id_tip" style="display: none;">
      <div class="bg"></div>
      <div class="pic-wrapper">
          <img src="../../../public/img/pic_guild.png" class="pic-guild">
      </div>
      <div class="tip-text">
          <p>请按照上面的姿势</p>
          <p>和你的身份证来个美美的自拍吧</p>
      </div>
      <div class="getIt-btn">
        <div class="btn-bg"></div>
        <p>知道了</p>
      </div>
    </div>

    <!-- loading -->
    <div id="loadingToast" class="weui_loading_toast" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <div class="weui_loading">
                <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                <div class="weui_loading_leaf weui_loading_leaf_11"></div>
            </div>
            <p class="weui_toast_content">图片上传中</p>
        </div>
    </div>

    <!-- Ajax -->
    <div class="ajax-detail"></div>

    <!-- BMap -->
    <div id="allmap"></div>

</body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dokr8H1rX6hjUsSOM87NGf0b"></script>
<script src="../../../public/lib/jquery.serializeObject.js"></script>
<script src="../../../public/lib/util.js"></script>
<script src="../../../public/config/config.js?v2"></script>
<script src="../../../public/lib/post.js"></script>
<script src="../../../public/js/common.js"></script>
<script src="../../../public/js/upload1.js"></script>
<script src="../../../public/js/getLocationInfo.js"></script>
<script src="../../../public/js/idPhoto1.js?v2"></script>


</html>



