<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>房租月付协议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <!--  新 Bootstrap 核心 CSS 文件  -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--  jQuery文件。务必在bootstrap.min.js 之前引入  -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!--  最新的 Bootstrap 核心 JavaScript 文件  -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--  私有css  -->
    <link rel="stylesheet" type="text/css" href="../../../public/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/contractDetail.css">
</head>

<body>
    <!-- 头部 -->
    <header class="top">
        <div class="back-button" onclick="history.back()">
            <span class="back-icon"></span>
        </div>
        <div class="title">
            房租月付协议
        </div>
        <div class="history">
            <span class="history-icon" style="background: none;"></span>
        </div>
    </header>
    <!--主体-->
    <section class="main">
        <h2>房租月付协议</h2>
        <p>甲方： <span name="tenantsInfo_name"></span> (以下简称甲方)</p>
        <p> 证件号码： <span name="tenantsInfo_idCard"></span> </p>
        <p> 地址：<span name="tenantsInfo_address"></span> </p>
        <p> 电话：<span name="tenantsInfo_mobile"></span> </p>
        <p>乙方：研耀（上海）信息科技有限公司 (以下简称乙方)</p>
        <p>地址：上海市外滩SOHO G座</p>
        <p>甲方拟通过盈家生活APP平台寻找房源并租赁房屋，乙方作为盈家生活APP平台的所有者、管理者协助甲方寻找合适的房源，并协助为甲方办理房租月付业务。经双方协商一致，签订本合同，以兹共同遵守。</p>
        <p>一、房源寻找及房屋租赁</p>
        <p>1、甲方必须注册成为盈家生活APP的会员后，方可通过盈家生活APP平台寻找合适的租赁房源，并办理房租月付业务。</p>
        <p>2、乙方在此仅协助甲方通过盈家生活APP平台寻找房源并租赁房屋，甲方应当另行与拟租赁房屋的实际出租人（简称“房东”）签署《房屋租赁合同》，甲方实际承租房屋的房租以《房屋租赁合同》的约定为准。</p>
        <p>二、租金月付</p>
        <p>1、甲方与房东签署《房屋租赁合同》后，根据《房屋租赁合同》的约定，乙方协助甲方就租赁房屋的全额房租（即每月租金*租赁月数）向资金方申请“消费金融租金分期”。</p>
        <p>2、若资金方审核通过甲方对“消费金融租金分期”的申请，甲方应当与资金方另行签署《消费金融租金分期贷款合同》，且甲方同意并授权资金方将全额房租支付至乙方的银行账户，并由乙方代收、代付。乙方的银行账户信息如下：</p>
        <p>账 户 名：研耀（上海）信息科技有限公司</p>
        <p>账 号：03150120210001476</p>
        <p>开 户 行：南京银行上海静安支行</p>
        <p>4、甲方每月支付上述房租时应当通过盈家生活APP方式向乙方支付。</p>
        <p>四、征信授权</p>
        <p>1、甲方同意并授权乙方根据《征信业管理条例》的规定，向国家设立的金融信用信息基础数据库以及其他依法设立的征信机构进行如下征信操作：</p>
        <p>（1)向金融信用信息基础数据库以及其他依法设立的征信机构查询、打印、保存、使用乙方的信用报告，授权事项及用途包括贷款审批（用于贷前调查、贷款审查审批）、贷后管理（用于已发放贷款的贷后管理）及异议核查（用于处理乙方异议）等；</p>
        <p>（2)向国家设立的金融信用信息基础数据库以及其他依法设立的征信机构报送乙方的个人信息，包括个人基本信息和信贷业务交易等相关信用信息，具体内容依据国家设立的金融信用信息基础数据库以及其他依法设立的征信机构要求报送的客户信息和业务信息等确定；</p>
        <p>（3)在乙方发生与甲方签署的合同、协议、承诺或其它法律性文件项下的违约时，甲方有权根据违约情况酌情决定公开乙方的违约信息，并可以根据欠款催收、债权转让、金融服务外包、交叉销售等需要将有关信息提供给催收机构、资产管理公司、外包公司等第三方机构；</p>
        <p>（4)同意乙方保留乙方的基础资料(含证件复印件)、信用报告、信贷业务申请书等；</p>
        <p>五、违约责任</p>
        <p>3、本协议生效后，甲乙任何一方均不得擅自解除本协议，本协议的解除必须经甲乙双方共同协商并签署相应的解除协议。甲乙任何一方擅自解除本协议的，应承担因此给对方造成的全部损失。</p>
        <p>六、合同生效及其他</p>
        <p>1、本合同自甲乙双方签字盖章之日起生效。</p>
        <p>2、本合同未尽事项，由甲乙双方另行议定，并签订补充协议。补充协议与本协议不一致的，以补充协议为准。本协议及其附件和补充协议未约定的事项，均遵照中华人民共和国有关法律、法规和政策执行。</p>
        <p>3、本合同在履行中发生争议，由甲乙双方协商解决。协商不成时，甲乙双方同意由乙方所在地人民法院管辖。</p>
        <p>4、本合同一式贰份，甲乙双方各执一份，具有同等效力。</p>
        <p>补充条款</p>
        <p name="supplement"></p>
        <p>（以下无正文）</p>
    </section>
    <script src="../../../public/config/config.js"></script>
    <script src="../../../public/js/common.js"></script>
    <script src="../../../public/lib/md5.js"></script>
    <script src="../../../public/lib/post.js"></script>
    <script src="../../../public/js/protocol.js"></script>
</body>

</html>
